body {
  background-color: rgb(242, 246, 250);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Navbar style*/
.header-bg {
  background-image: url('/B12A01-landing-launchpad/Assets/Hero-bg.png');
  background-position: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px 158px 150px;
}

.title-logo {
  font-size: 34px;
  color: #1E40AF;
}

.btn-primary {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background-color: #2563EB;
  color: white;

}

.btn-primary:hover {
  cursor: pointer;
  background-color: #3B82F6;
  transform: scale(1.05);

}

/* banner style */
.banner {
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
}

.banner-container {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-title {
  color: #1E293B;
  font-size: 95px;
  margin-bottom: 60px;
}

/*section action style*/
.action {
  display: flex;
  justify-content: center;
  margin: 150px 0px 150px 0px;
  gap: 250px;
}

.action-sub-section {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  padding-left: 5px;

  background-color: white;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.action-content {
  padding: 0px 20px 10px 0px;

}

.title-primary {
  font-size: 40px;
  margin-bottom: 50px;
}

.text-primary {
  font-size: 27px;
 
  color: #94A3B8;
  font-weight: 400;
  margin-bottom: 30px;
}

.action-img img {
  width: 420px;
  height: 100%;
  border-radius: 20px;
}


/*productive-user-section style*/
.productive-user-section {
  width: 1140px;
  text-align: center;
  background-color: #c1bffa;
  margin: 0 auto;
  border-radius: 22px;
  padding: 10px 10px 50px 10px;
}

.data-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.data-count {
  font-size: 80px;
  color: rgb(95, 95, 248);
}

.data-name {
  font-size: 19px;
  color: rgb(112, 110, 110);
  font-weight: 500;
}

/*what our users say style*/
.feedback {
  background-color: white;
}

.feedback-big-title {
  font-size: 40px;
  margin: 80px 0px 80px 0px;
  text-align: center;
}

.ratings {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.rating {
  width: 300px;

  border: 1px solid rgb(229, 224, 224);
  border-radius: 10px;

  padding: 10px;
  text-align: left;

}

.feedback-title {
  font-size: 22px;
  color: #252432;
}

.feedback-subtitle {
  font-size: 16px;
  color: #666668;
}

.feedback-reviewer {

  display: flex;
  gap: 20px;
}

.feedback-img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.feedback-name {
  font-size: 17px;
  color: #475569;
  font-weight: 600;
}

.feedback-date {
  font-size: 16px;
  color: #94A3B8;
  font-weight: 300;
}

/*Ready to focus better style*/
.focus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 137px 0px 0px 0px;
  background-color: white;
  padding: 70px 100px 70px 100px;

}

.focus-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.focus-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  margin-bottom: 20px;
}

.focus img {
  border-radius: 20px;
  margin-top: 20px;
}

/*contact style*/

.contact-section {
  margin: 50px 150px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.contact-title {
  display: flex;
  align-items: center;
  font-size: 80px;
  font-weight: 600;
  max-width: 600px;

}

.form-container form {
  display: flex;
  flex-direction: column;


}

input[type="email"],
input[type="text"],
textarea {
  height: 40px;
  width: 458px;
  border: 1px solid rgb(195, 191, 191);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px
}

textarea {
  height: 135px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

input::placeholder,
textarea::placeholder {
  font-size: 20px;
  font-weight: 300;

}

.touch-btn {
  height: 65px;

}

/*footer style*/
footer {
  background: white;
  padding: 20px 0px 40px 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-logo {
  color: rgb(63, 63, 216);
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 10px;

}

.footer-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: rgb(97, 96, 96);
  line-height: 30px;
}

.list-container {
  display: flex;
}

ul li {
  list-style: none;

}

ul li a {
  text-decoration: none;
  padding: 20px;
  color: rgb(97, 96, 96);
  font-size: 20px;
  font-weight: 400;
}